@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clippath {
    clip-path: polygon(89% 29%, 100% 48%, 88% 65%, 11% 65%, 0 47%, 12% 29%);
  }
  .clippath2 {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 57% 100%, 83% 51%, 56% 0);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slideclas {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.background-images-wrapper > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.background-images-wrapper {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.background-images-wrapper .layer {
  width: 100%;
  height: auto;
  max-height: 100vh;
  opacity: 0;
  object-fit: cover;
  object-position: center;
}
.background-images-wrapper .layer--default {
  opacity: 1;
  background-color: #000;
  background: radial-gradient(ellipse at center, #2fedcb, #00a081, #006360);
  height: 100vh;
  background-position: center;
  background-size: cover;
  /* animation: changeBackground 10s infinite alternate;
  -webkit-animation: changeBackground 10s infinite alternate; */
}

/* .background-images-wrapper .layer--default::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 51, 51, 0.5); 
  z-index: 1;
} */

/* @keyframes changeBackground {
  0% {
    background: radial-gradient(ellipse at bottom, #2fedcb, #00a081, #006360);
  }
  50% {
    background: radial-gradient(ellipse at center, #2fedcb, #00a081, #006360);
  }
  80% {
    background: radial-gradient(ellipse at top, #2fedcb, #00a081, #006360);
  }
  100% {
    background: radial-gradient(ellipse at bottom, #2fedcb, #00a081, #006360);
  }
} */

ul.link-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
ul.link-list li {
  width: fit-content;
  height: 70px;
}
ul.link-list li a {
  cursor: pointer;
  font-weight: 700;
  margin: 5px 0;
  color: white;
  opacity: 0.8;
  width: fit-content;
}

.video-container {
  position: relative;
}

.video-container video {
  width: 100%;
  object-fit: cover;
  z-index: 0;
  left: 0;
}

.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #dc0000;
  padding: 10px;
}
.content {
  height: 100%;
  align-items: end;
  width: 100%;
  display: flex;
}

.swiper-container {
  width: 100%;
  height: 100vh;
  position: fixed;
}
.swiper-container .swiper-wrapper {
  min-height: 50vh;
}
.swiper-container .swiper-wrapper .swiper-slide {
  overflow: hidden;
  position: relative;
  height: 100%;
  text-align: center;
  font-size: 18px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.swiper-container .swiper-wrapper .swiper-slide .slide-inner {
  width: 87%;
  height: 90vh;
  align-items: center;
  justify-content: center;
  transition: transform all 0.3s ease;
  -webkit-transition: transform all 0.3s ease;
  -moz-transition: transform all 0.3s ease;
  -ms-transition: transform all 0.3s ease;
  -o-transition: transform all 0.3s ease;
}
/* .swiper-container .swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0);
} */
.swiper-container .swiper-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 7em;
  position: absolute;
  z-index: 3;
  right: 0;
}

@media screen and (max-width: 768px) {
  .swiper-container .swiper-pagination {
    width: 3em;
  }
}

.swiper-container .swiper-pagination span {
  margin-bottom: 1rem !important;
  font-size: 0.9rem;
  letter-spacing: 0.07em;
  color: #000;
}
.swiper-container .swiper-pagination span:focus {
  outline: none;
}
.arrow {
  color: #ffffff;
  font-family: 'Poppins', 'Times', serif;
  background-color: transparent;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;
  &::after {
    display: inline-block;
    padding-left: 8px;
    content: '\0279E';
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  &:hover {
    &::after {
      -webkit-transform: translateX(4px);
      -moz-transform: translateX(4px);
      -ms-transform: translateX(4px);
      -o-transform: translateX(4px);
      transform: translateX(4px);
    }
  }
}

.imgcontainer {
  transform: perspective(1800px) rotate3D(0, 1, 0, -30deg);
  -webkit-transform: perspective(1800px) rotate3D(0, 1, 0, -30deg);
  -moz-transform: perspective(1800px) rotate3D(0, 1, 0, -30deg);
  -ms-transform: perspective(1800px) rotate3D(0, 1, 0, -30deg);
  -o-transform: perspective(1800px) rotate3D(0, 1, 0, -30deg);
}

@media screen and (min-width: 768px) and (max-width: 1500px) {
  .imgcontainer {
    height: 450px;
    transform: perspective(1500px) rotate3D(0, 1, 0, -30deg);
    -webkit-transform: perspective(1500px) rotate3D(0, 1, 0, -30deg);
    -moz-transform: perspective(1500px) rotate3D(0, 1, 0, -30deg);
    -ms-transform: perspective(1500px) rotate3D(0, 1, 0, -30deg);
    -o-transform: perspective(1500px) rotate3D(0, 1, 0, -30deg);
  }
}

@media screen and (max-width: 768px) {
  .imgcontainer {
    transform: none;
    height: 250px;
  }
}
.titlendis {
  margin-top: 10%;
  padding-top: 8%;
}

@media screen and (max-width: 768px) {
  .titlendis {
    margin-top: 0%;
    padding-top: 0%;
  }
}

.titledisplay {
  display: flex;
}
.titledisplay text {
  text-decoration: none;
  font-weight: 600;
  line-height: 140px;
  letter-spacing: 4px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .titledisplay text {
    font-size: 4em;
    line-height: 90px;
  }
}
.__className_afe0d0 {
  align-items: start;
  display: flex;
}

.lpgrad {
  background: linear-gradient(to bottom right, #000, #df5745);
}

.revert-layer {
  inset: revert;
}

.relativepos {
  position: relative !important;
}

.connector {
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #22cadb;
}
.connector::before {
  content: '';
  position: absolute;
  top: -8px;
  right: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid #22cadb;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.right-0 {
  right: -40px;
}
.left-0 {
  left: -40px;
  background-color: black;
}
.left-0::before {
  border-left: 10px solid black;
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Ensure the video is behind other content */
}

.roundvideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust height as needed */
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
}

.relativepos2 {
  right: 14% !important;
  left: auto !important;
  top: auto !important;
  bottom: auto !important;
  position: absolute;
  height: auto !important;
  width: 100%;
}
.relativepos4 {
  right: auto !important;
  left: 5% !important;
  top: auto !important;
  bottom: auto !important;
  position: absolute;
  height: auto !important;
  width: 100%;
}

.relativepos3 {
  right: auto !important;
  left: 5% !important;
  top: auto !important;
  bottom: auto !important;
  position: absolute;
  height: auto !important;
  width: 100%;
  z-index: 2;
}

.relativepos5 {
  right: auto !important;
  left: 0% !important;
  top: 1% !important;
  bottom: auto !important;
  position: absolute;
  height: auto !important;
  width: 20vw !important;
}
.relativepos6 {
  right: 0% !important;
  left: 72% !important;
  top: 10% !important;
  bottom: auto !important;
  position: absolute;
  height: auto !important;
  width: 20vw !important;
}

.relativepos7 {
  right: 0% !important;
  left: 79% !important;
  top: 40% !important;
  bottom: auto !important;
  position: absolute;
  height: auto !important;
  width: 20vw !important;
}
.relativepos8 {
  right: 0% !important;
  left: 75% !important;
  top: 75% !important;
  bottom: auto !important;
  position: absolute;
  height: auto !important;
  width: 20vw !important;
}

.relativepos9 {
  right: auto !important;
  left: 13% !important;
  top: 0% !important;
  bottom: auto !important;
  position: relative !important;
  height: auto !important;
}

.relativepos10 {
  right: auto !important;
  left: 0% !important;
  top: -40% !important;
  bottom: auto !important;
  position: relative !important;
  height: auto !important;
}
.relativepos11 {
  right: auto !important;
  left: 0% !important;
  top: 30% !important;
  bottom: auto !important;
  position: relative !important;
  height: auto !important;
}
.gradient-text {
  background: linear-gradient(to right, #ead375, #b67a29, #ead375);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text2 {
  background: linear-gradient(to right, #f9e96e, #ed6bf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text3 {
  background: linear-gradient(to bottom, #f7bcf4, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text4 {
  background: linear-gradient(to bottom, #d40000, #770505, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ht {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}

.clipPath-block {
  perspective: 1800px;
}

img.clipPath-img {
  max-width: 100%;
  clip-path: polygon(0% 7%, 50% 5%, 100% 7%, 100% 95%, 50% 93%, 0% 95%);
  transform: rotateX(15deg) rotateY(-40deg) rotateZ(10deg);
  animation: clipPath 3s ease-in-out infinite alternate;
  transition: all 0.2s ease 0.2s;
  -webkit-transition: all 0.2s ease 0.2s;
  -moz-transition: all 0.2s ease 0.2s;
  -ms-transition: all 0.2s ease 0.2s;
  -o-transition: all 0.2s ease 0.2s;
  -webkit-transform: rotateX(15deg) rotateY(-40deg) rotateZ(10deg);
  -moz-transform: rotateX(15deg) rotateY(-40deg) rotateZ(10deg);
  -ms-transform: rotateX(15deg) rotateY(-40deg) rotateZ(10deg);
  -o-transform: rotateX(15deg) rotateY(-40deg) rotateZ(10deg);
}

img.clipPath-img.active {
  animation: none;
  clip-path: polygon(5% 7%, 50% 5%, 95% 7%, 95% 95%, 50% 93%, 5% 95%);
}

@keyframes clipPath {
  0% {
    clip-path: polygon(0% 2%, 50% 0%, 100% 2%, 100% 95%, 50% 93%, 0% 95%);
  }

  100% {
    clip-path: polygon(0% 7%, 50% 5%, 100% 7%, 100% 100%, 50% 98%, 0% 100%);
  }
}

.cursor-dot {
  width: 30px;
  height: 30px;
  background-color: #30eecb;
  border-radius: 50%;
  pointer-events: none;
  z-index: 500;
  position: fixed;
  mix-blend-mode: exclusion;
}

.hover-target span:hover ~ .cursor-dot {
  background-color: transparent;
  border: 2px solid rgb(9, 9, 109);
  transform: scale(3);
  opacity: 0.7;
}

.hover-text span {
  height: auto !important;
  display: inline-block;
}

.image-container {
  width: 10%;
  overflow: hidden;
}

.responsive-image {
  height: auto; /* Maintain aspect ratio */
}

.moving-text-container {
  white-space: nowrap;
}

.image-row {
  display: flex;
  justify-content: space-around;
  opacity: 1; /* Initial state */
}

.image-card {
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
.imgcard1 {
  rotate: -7deg !important;
}
.imgcard2 {
  rotate: 7deg !important;
}
